.body-background {
    background-image: url('../png/blackground.png');
    background-size: cover;
    opacity: 0.8;
    height: 100%;
}

.center-background {
    height: 100%;
    width: 100%;
}

.center-tabs .el-tabs__item {
    font-size: 16px;
}

.center-rank-font {
    display: inline-block;
    font-family: "楷体";
    font-size: 18px;
}