.router-background {
    opacity: 0.8;
}

.hhw-fill {
    height: 100%;
    width: 100%;
}

.center-tabs .el-tabs__item {
    font-size: 16px;
}

.center-rank-font {
    display: inline-block;
    font-family: "楷体";
    font-size: 18px;
}