.router-background {
     opacity: 0.7;
     background-image: url('../png/blackground.png');
     background-size: 100% 100%;
 }

.hhw-fill {
    height: 100%;
    width: 100%;
}

.center-tabs .el-tabs__item {
    font-size: 16px;
    color: white;
}

.center-tabs .el-tabs__item:hover {
    color: var(--el-color-primary);
    cursor: pointer;
}

.center-tabs .el-tabs__item.is-active {
    color: var(--el-color-primary);
}

.center-rank-font {
    display: inline-block;
    font-family: "楷体";
    font-size: 18px;
}

.h-btn {
    width: 45%;
    margin-top: 50px;
    text-align: center;
    display: inline-block;
}

.h-btn-hover {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 220px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 80px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 5px;
    transition: all .4s ease-in-out;
    filter: brightness(0.4);
}

.h-is-active {
    filter: brightness(1);
}

.h-btn-hover:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
    filter: brightness(1);
}

.h-btn-hover:focus {
    outline: none;
}

.h-btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.h-btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.h-btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.h-btn-hover.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.h-btn-hover.color-5 {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.h-btn-hover.color-6 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.h-btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.h-btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.h-btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.h-btn-hover.color-10 {
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.h-btn-hover.color-11 {
    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

